
.list {
    list-style-type:none ;
  }

.business-description {
    &__list {
        display:flex;
        justify-content: space-evenly;
        padding:0px 215px;
        margin:0px;

        &:nth-child(-n+3) {
            margin-right:30px;
        }
    }
    &__title {
        font-weight: 700;
        text-transform: uppercase;
        color: $black-title;
        padding-bottom:10px;
        margin:0px;
    }
    &__par {
        line-height: 1.71;
        color: $grey-text;
        margin:0px;
        width:270px;
    }

    &__icon-feature:nth-child(-n+3) {
        margin-right:30px;
    }
  }


  .we-do {
    padding-left:215px;
    padding-right:215px;
    padding-bottom:94px;

    &__container {
        display:flex;
         justify-content: space-between;
    }
    &__box {
        position:relative;
        overflow:hidden;
        width:370px;
        height:294px;
        & > .we-do-overlayed {
            position:absolute;
            width:370px;
            top:224px;
            color:white;
            background-color: #2F303ACC;
            padding:27px 132px 27px 132px;
            margin:0px;
        }
    }

    &__title {
        @include smalltitle();
    }
  }

  .writingcode{
    margin-right:30px;
   }
   .designing {
    margin-right:30px;
   }